.header{
    position: relative;
    background-color: powderblue;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
h1{
   font-size: 45px;
   font-weight: 600;
}
