
:root{
    --mheight:432px;
    --footer-width:calc(var(--mheight)*(0.20));
    --footer-height:var(--mheight);
    --mwidth: calc(var(--mheight) + var(--mheight)*(0.20));

    --cell-margin-left-right:4px;
    --row-margin-top-bottom:4px;

    --rwidth:var(--mheight);
    --rheight:calc((var(--mheight) - 18*(var(--cell-margin-left-right)))/9);
    --cell-width:var(--rheight);
    --cell-height:var(--rheight);
    --vb-width:calc(var(--cell-margin-left-right)*6 + 2px + var(--cell-width)*3);
    --vb-height:calc(var(--mheight)/3 + 1px);
    --vb-left: calc(var(--cell-width)*3 + var(--cell-margin-left-right)*6 - 1px);
    --hb-width: var(--rwidth);
    --hb-height: calc(var(--mheight)/3 - 1px);
    --hb-top1: calc(var(--hb-height) + 1px);
    --hb-top2: calc(var(--hb-height)*2);
}
@media screen and (max-width: 500px) {
  :root{
    --mheight:300px;
  }
}



.matrix{
    background-color: transparent;
    margin-top: 20px;
    height: var(--mheight);
    width: calc(var(--mwidth));
    margin-left: auto;
    margin-right: auto;
    display: flex;
    position: relative;
    flex-direction: column;
    overflow: hidden;
    
}

.matrix:focus{
    outline: none;
}

.row{
    height: var(--rheight);
    width: var(--rwidth);
    background-color: transparent;
    display: flex;
    position: relative;
    flex-direction: row;
    margin-top: var(--row-margin-top-bottom);
    margin-bottom: var(--row-margin-top-bottom);
}

.cell{
    width: var(--cell-width);
    height: var(--cell-height);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    background-color: rgb(161, 217, 214);
    border-radius: 5px;
    margin-left: var(--cell-margin-left-right);
    margin-right: var(--cell-margin-left-right);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none; /* Standard syntax */
    
}

.cell:hover{
    cursor: pointer;
}
.active{
    outline: 1.5px solid BLUE;
}

.original{
    background-color: rgb(9, 143, 167);
}
.update{
    background-color: rgb(76, 182, 177);
}

.cube1{
    width: var(--vb-width);
    height: var(--vb-height);
    box-sizing: border-box;
    position: absolute;
    background-color: transparent;
}
.cube2{
    width: var(--vb-width);
    height: var(--vb-height);
    box-sizing: border-box;
    position: absolute;
    background-color: transparent;
    border-left: 2px solid rgb(133, 132, 132);
    border-right: 2px solid rgb(133, 132, 132);
    left: var(--vb-left);
}
.cube3{
    width: var(--vb-width);
    height: var(--vb-height);
    box-sizing: border-box;
    position: absolute;
    background-color: transparent;
    left: 264px;
}
.cuberow1{
    
    position: absolute;
    width: var(--hb-width);
    height: var(--hb-height);
    border-bottom: 2px solid rgb(133, 132, 132);
    
}
.cuberow2{
    position: absolute;
    width: var(--hb-width);
    height: var(--hb-height);
    border-bottom: 2px solid rgb(133, 132, 132);
    top: var(--hb-top1);
}
.cuberow3{
    position: absolute;
    width: var(--hb-width);
    height: var(--hb-height);
    top: var(--hb-top2);
}

.footer{
    width: var(--footer-width);
    height: var(--footer-height);
    
    background-color: transparent;
    display: flex;
    
    justify-items: center;
    align-items: center;
    position: absolute;
    
    right: 0px;
}
.incorrect{
    height: 35px;
    width: 80%;
    position: absolute;
    left: 10px;
    top: 25%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    
    color: aliceblue;
    background-color: rgb(198, 96, 96);
}
.score{
    height: 35px;
    width: 80%;
    position: absolute;
    left: 10px;
    top: 10%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    color: aliceblue;
    background-color: rgb(35, 161, 35);
}
.output{
    width: 80%;
    height: 38px;
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    color: rgb(251, 248, 248);
}
.correct{
    background-color: green;
}
.wrong{
    background-color: rgb(196, 17, 17);
}

.numpad{
    position: relative;
    margin-top: 10px;
    width: var(--mwidth);
    height: var(--cell-height);
    background-color: transparent;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
}
.number{
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc((var(--mheight) - 20*4px)/10);
    height: 100%;
    margin-left: var(--cell-margin-left-right);
    margin-right: var(--cell-margin-left-right);
    background-color: rgb(10, 144, 99);
    border-radius: 8px;
    color: aliceblue;
}
.X{
    background-color: rgb(181, 27, 27);
}
.number:active{
    transform: translateY(-4px);
    background-color: rgb(146, 146, 215);
}